@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Montserrat+Alternates:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
overflow-x: hidden;
}
.navigation{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    
}
.navigation.active{
    left: 0;
}
.banner{
    position: relative;
    width: 50%;
    height: 100%;

}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.navlink{
    position: relative;
    width: 50%;
    height: 100%;
}
.navlink ul{
    position: relative;
    width: 100%;
}
.navlink ul li{
    position: relative;
    list-style: none;
}
.navlink ul li a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
    margin: 5px 0;
    margin-left: 100px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navlink ul li a:hover{
    color:#db1b51 ;
}
.sec{
    position: relative;
    left: 0;
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    transition: 1s;
}
.sec.active{
    left: 100%;
}
header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;
}
.toggle{
    position: relative;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    /* background: #ccc; */
}
.toggle.active{
    left: -200px;
}

.toggle::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #db1b51;
    transform: translateY(-6px);
    transition: 0.5s;
}
.toggle::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #db1b51;
    transform: translateY(6px);
    transition: 0.5s;
}
.toggle.active::before{
    transform: translateY(0px) rotate(45deg);
    background: #fff;
}
.toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
    background: #fff;
}
.btn{
    position: relative;
display: inline-block;
padding: 10px 20px;
text-decoration: none;
background: #db1b51;
color: #fff;
font-weight: 500;
border-radius: 4px;
letter-spacing: 1px;

}
.sec .imgbox{
    position: relative;
    min-width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}
.sec .content{
    max-width: 700px;
    margin-left: 40px;
}
.sec .content h2{
   font-weight: 500;
   letter-spacing: 1px;
   color: #777;
   line-height: 2.5em;
}
.sec .content h2 span{
    font-weight: 700;
    color: #db1b51;
    font-size: 3em;
    font-family: 'Montserrat Alternates', sans-serif;
}
.sec .content p{
    color: #777;
    font-size: 1.2em;
    margin-bottom:20px ;
}
.sec .content .btn{
   background: #db1b51; 
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.sci{
    position: relative;
    display: flex;
    align-items: center;
    
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    margin-right: 20px;
    display: inline-block;
    transform: scale(0.75);
    opacity: 0.8;
}
.sci i{
    margin: 0 2px;
    font-size: 1.5em;
    
}
.copyright{
    font-weight: 500;
    color: #777;
    letter-spacing: 1px;
}


@media  (max-width:991px){
    .sec{
        flex-direction: column;
        padding: 40px;
        justify-content: center;
    }
    header,
    footer{
        padding: 20px 40px;
    }
    .sec .imgbox{
        width: 300px;
        min-width: 300px;
        height: 300px;
        margin-top: 100px;
    }
    .sec .content{
        margin-bottom: 100px;
        margin-left: 0;
        max-width: 100%;
    }
    footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .sec .content h2 span{
        font-size: 2em;
    }
    .banner{
display: none;
    }
    .navlink{
        width: 100%;
    }
    .toggle.active{
        left: -120px;
    }
    .navlink ul li a{
        font-size: 1.5em;
        margin-left: 50px;
    }
}